.nav-tabs > li, .nav-tabs > li > a{
    font-family: fontThree, sans-serif;
    text-decoration: none;
    color: #3F4643;
    cursor: pointer;
}

.nav-tabs{
    margin-top: -41px;
    border: none;
    margin-left: -1px;
}

#listofitems{
    height: 500px;
    background-color: #FFFFFF;
    padding: 0 0 0 0;
    margin: 45px 0 0 0 ;
    border: solid;
    border-color: #DDDDDD;
    border-width: 1px;
    border-radius: 5px;
}

.list-group{margin: 0 -1px 0 -1px}

.list-group-item:first-child{border-top-left-radius: 0}

.list-group-item{cursor: pointer}

.list-group > .list-group-item.active{
    z-index: 2;
    color: #3F4643;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    -webkit-filter: brightness(95%);
}

#infofield{
    background-color: #FFFFFF;
    border: solid;
    border-color: #DDDDDD;
    border-width: 1px;
    border-radius: 5px;
    height: 542px;
    margin-top: 3px;
    margin-left: 5px;
    font-family: fontThree, sans-serif;
    overflow-y: auto;
}

#infofield p{
    padding: 5px 0 0 0;
    font-size: 1.2em;
}

#equipmentwell{
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #E2E2E2;
    background-color: #FAFAFA;
    height: auto;
    margin-bottom: 15px;
}

.well{
    margin-bottom: 0;
}

#left{width: 145px}

#leftinq{width: 156px}

#confirmbutton{
    margin-bottom: 10px;
}

textarea{resize: none}

#checkbox{
    margin-left: 15px;
}