<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load templatetags %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Bormaheco Inc.</title>
    <!-- Imports JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Global Login -->
    <script type="text/javascript"> var loginurl = {% url 'login' %};</script>
    <script src="{% static 'js/login.js' %}"></script>

    <link rel="icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img style="height: 250%" src="{% static 'images/bormaheco.png' %}">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'mainpage' %}" id="navlink">Home</a></li>
                <li><a href="{% url 'equipment:mainpage' %}" id="navlink">Equipment</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="#" id="navlink">Transactions</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_superuser == False %}
                    <li>
                        <div class="dropdown">
                            <a id="cart" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <ul class="dropdown-menu cart" id="cartDropdown">
                                {% get_cart request %}
                                <a type="button" style="display:block; margin-top: 10px; margin-bottom: 5px"
                                 href="{% url 'rental:checkout' %}" class="btn btn-warning text-center">Checkout</a>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="userbutton" type="button" data-toggle="dropdown">
                                {{ request.user.username }}
                                <span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if request.user.is_superuser %}
                                    <li><a href="{% url 'admin:index' %}">Admin Page</a></li>
                                {% endif %}
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div></li>
                {% else %}
                    <li>
                        <div class="dropdown" id="logindiv">
                            <a class="dropdown-toggle" id="userbutton" type="button" data-toggle="dropdown">
                                Login
                                <span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><label for="login_username_input">Username:</label>
                                <input placeholder="Username" class="form-control" id="login_username_input"
                                       type="text"></li>
                                <li><label for="login_password_input">Password:</label>
                                <input placeholder="Password" class="form-control" id="login_password_input"
                                       type="password"></li>
                                <li><button class="btn btn-default center-block" type="button"
                                            id="login">Login</button></li>
                            </ul>
                        </div></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="row" id="mainpagebody">
        <div class="container-fluid">
            <span class="col-md-1"></span>
            <div class="col-md-4">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'images/aboutus1.png' %}" alt="Forklift" style="width:100%;">
                            <p id="carouselheader">About Us</p>
                            <p id="carouselbody">Now, Bormaheco, Inc. is one of the biggest machineries and heavy
                            equipment suppliers in the Philippines.  It caters to the requirements of the mining,
                            logging, agricultural, construction and real estate industries.</p>
                        </div>

                        <div class="item">
                            <img src="{% static 'images/aboutus2.png' %}" alt="Bulldozer" style="width:100%;">
                            <p id="carouselheader">Red Cross Training Program</p>
                            <p id="carouselbody">In line with the company's goal for "Safety awareness", we sent
                            Edvenzer "Ed" M. Reyes and Meriame "Ann" G. Hofilena to attend the “Basic Life
                            Support and First-Aid” seminar from November 11 to 16, 2013 at the Philippine Red Cross
                            Makati City Branch of the Rizal Chapter.</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'images/aboutus3.png'%}" alt="Payloader" style="width:100%;">
                            <p id="carouselheader">The Future is in The Hands of The Youth</p>
                            <p id="carouselbody">A few months ago, we accepted another batch of young trainees from
                            Don Bosco, TESDA, and The University of Makati.They are currently undergoing hands-on
                            conditioning  under the close supervision of our service personnel. In our experience,
                            exposing them to units actually being used in the field has proven to be a good
                            training ground for youngsters like these.</p>
                        </div>

                        <div class="item">
                            <img src="{% static 'images/aboutus4.png'%}" alt="Primemover" style="width:100%;">
                            <p id="carouselheader">Bormaheco</p>
                            <p id="carouselbody">Bormaheco, Inc. was incorporated on October 16, 1950 and the
                            Certificate of Registration was issued by the Securities and Exchange Commission on
                            February 23, 1951 and has been in existence in the Machinery and Heavy Equipment
                            business for almost 60 years.</p>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <span class="col-md-2"></span>
            <div class="col-md-3">
                <div class="row">
                    <div id="otherCarousel" class="carousel slide pull-right" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#otherCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#otherCarousel" data-slide-to="1"></li>
                            <li data-target="#otherCarousel" data-slide-to="2"></li>
                            <li data-target="#otherCarousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="{% static 'images/payloader.png' %}" alt="Forklift" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="{% static 'images/forklift.png' %}" alt="Bulldozer" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="{% static 'images/primemover.png'%}" alt="Payloader" style="width:100%;">
                            </div>

                            <div class="item">
                                <img src="{% static 'images/bulldozer.png'%}" alt="Primemover" style="width:100%;">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#otherCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <a class="right carousel-control" href="#otherCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div id="contactus" class="pull-right">
                        <p id="contactheader">Contact Us</p>
                        <p id="contactbody">1191 Pablo Ocampo Sr. Extension in Makati City, Philippines.</p>
                        <p id="contactbody">Tel. : +63 2 897-0932</p>
                        <p id="contactbody">Fax : +63 2 897-1378</p>
                    </div>
                </div>

            </div>
            <span class="col-md-2"></span>
        </div>
    </div>
</body>
</html>