<!DOCTYPE html>
<html>
	<head>
        {% load staticfiles %}
		<title>
			Bormaheco Inc. | Equipment
		</title>
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/equipment.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/equipment.css' %}">
		<link rel="icon" href="{% static 'images/icon.png' %}">
	</head>

	<body>
		<div id="div1">
			<img id="navbar" src="{% static 'images/navbar.png' %}">
			<a id="home" href="/"><h1>Home</h1></a>
			<a id="equipment" href="/equipment"><h1>Equipment</h1></a>
			<a id="transactions" href="#"><h1>Transactions</h1></a>
            {% if request.user.is_authenticated %}
                <h1 id="username">{{ request.user.username }}</h1>
                <a href="../logout" id="logoutButton">
                    <img style="height: 25px" src="{% static 'images/logoutbutton.png' %}">
                </a>
            {% else %}
                <form>
                    <label for="login_username_input" >Username:</label>
                    <input id="login_username_input" type="text" placeholder="Username">
                    <label for="login_password_input" >Password:</label>
                    <input id="login_password_input" type="password" placeholder="Password">
                    <button type="button" id="login">Login</button>
			    </form>
            {% endif %}

			<div id="div5-1">
				<div class="tooltip">
				<img id="cart" src="{% static 'images/cart.png' %}">
				<span class="tooltiptext">
					<div class="equipview">
						<img id="remove" src="{% static 'images/remove.png' %}">
						<img src="{% static 'images/excavator.png' %}">
						<h1>Excavator</h1>
					</div>
					<div class="equipview">
						<img id="remove" src="{% static 'images/remove.png' %}">
						<img src="{% static 'images/payloader.png' %}">
						<h1>Payloader</h1>
					</div>
					<div class="equipview">
						<img id="remove" src="{% static 'images/remove.png' %}">
						<img src="{% static 'images/bulldozer.png' %}">
						<h1>Bulldozer</h1>
					</div>
					<div class="equipview">
						<img id="remove" src="{% static 'images/remove.png' %}">
						<img src="{% static 'images/forklift.png' %}">
						<h1>Forklift</h1>
					</div>
					<div class="equipview">
						<img id="remove" src="{% static 'images/remove.png' %}">
						<img src="{% static 'images/primemover.png' %}">
						<h1>Prime Mover</h1>
					</div>
				</span>
			</div>
            </div>
        </div>
        <div id="div2">
            <h1 id="filterheader">Type</h1>
                <form id="equipmentfilter">
                    <label><input type="radio" name="equipmenttype" value="AL" checked="checked">All</label><br>
                    <label><input type="radio" name="equipmenttype" value="AC">Air Compressor</label><br>
                    <label><input type="radio" name="equipmenttype" value="BL">Backhoe Loader</label><br>
                    <label><input type="radio" name="equipmenttype" value="BR">Breaker</label><br>
                    <label><input type="radio" name="equipmenttype" value="BD">Bulldozer</label><br>
                    <label><input type="radio" name="equipmenttype" value="CR">Crane</label><br>
                    <label><input type="radio" name="equipmenttype" value="DT">Dump Truck</label><br>
                    <label><input type="radio" name="equipmenttype" value="EX">Excavator</label><br>
                    <label><input type="radio" name="equipmenttype" value="FT">Flatbed Trucks</label><br>
                    <label><input type="radio" name="equipmenttype" value="FL">Forklifts</label><br>
                    <label><input type="radio" name="equipmenttype" value="GS">Generating Sets</label><br>
                    <label><input type="radio" name="equipmenttype" value="LB">Low Bed Trailer</label><br>
                    <label><input type="radio" name="equipmenttype" value="MT">Manlift Trucks</label><br>
                    <label><input type="radio" name="equipmenttype" value="MC">Motorcycles</label><br>
                    <label><input type="radio" name="equipmenttype" value="PL">Payloader</label><br>
                    <label><input type="radio" name="equipmenttype" value="PM">Prime Mover</label><br>
                    <label><input type="radio" name="equipmenttype" value="RG">Road Grader</label><br>
                    <label><input type="radio" name="equipmenttype" value="RR">Road Roller</label><br>
                    <label><input type="radio" name="equipmenttype" value="SL">Skidsteer Loader</label><br>
                    <label><input type="radio" name="equipmenttype" value="OT">Other</label>
                </form>
            {% if request.user.is_superuser %}
                <button type="button" id="addEquipment">Add Equipment</button>
            {% endif %}
		</div>

		<div id="div3">
            {% for unit in equipment %}
                <div class="equip" id="equipment{{ unit.id }}">
                    <img src="{% static unit.image.url %}">
                    <h1>{{ unit.name }}</h1>
                    <a><p>ADD TO CART</p></a>
                </div>
            {% endfor %}
		</div>
		</div>

    <div id="loginerror" hidden>Username or Password is Incorrect</div>
	</body>
<script>
    $(document).ready(function(){
        $("input[type='radio']").on('change', function() {
        var selected = $("[name='equipmenttype']:checked").val();

        $.ajax
        (
            {
                type: 'POST',
                url: 'filterequipment/' + selected + '/',
                data:{
                    selected: selected
                },
                success:[ function(data)
                {
                    if(data.length === 0)
                    {
                        $("#div3").empty();
                        $("#div3").append('<h1 style="right:35%; top:50%; position:fixed;">No results</h1>');
                    }
                    else
                    {
                        $("#div3").empty();
                        for(var i = 0; i < data.length; i++ )
                        {
                            var datum = data[i];
                            var MEDIA_URL = "/static/media/" + datum.fields.image;

                            $("#div3").append('\
                                <div class="equip" id="equipment' + JSON.stringify(datum.pk) +'">\
                                    <img src="' + MEDIA_URL  +'">\
                                    <h1>'+ datum.fields.name +'</h1>\
                                    <a><p>ADD TO CART</p></a>\
                                </div>');
                            console.log(datum.fields.image)
                        }
                    }
                }]
            }
        );
        });
    });
</script>
</html>