<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Bormaheco Inc. | Equipment</title>
    <!-- Imports JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Global Login -->
    <script src="{% static 'js/login.js' %}"></script>

    <link rel="icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
	<link rel="stylesheet" href="{% static 'css/equipment.css'%}">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img style="height: 250%" src="{% static 'images/bormaheco.png' %}">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/" id="navlink">Home</a></li>
                <li><a href="/equipment" id="navlink">Equipment</a></li>
                <li><a href="#" id="navlink">Transactions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="dropdown">
                            <a id="cart" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <ul class="dropdown-menu cart" id="cartDropdown">
                            </ul>
                        </div>
                    </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="userbutton" type="button" data-toggle="dropdown">
                                {{ request.user.username }}
                                <span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if request.user.is_superuser %}
                                    <li><a href="../admin">Admin Page</a></li>
                                {% endif %}
                                <li><a href="#">CSS</a></li>
                                <li><a href="../logout">Logout</a></li>
                            </ul>
                        </div></li>
                {% else %}
                    <li>
                        <div class="dropdown" id="logindiv">
                            <a class="dropdown-toggle" id="userbutton" type="button" data-toggle="dropdown">
                                Login
                                <span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><label for="login_username_input">Username:</label>
                                <input placeholder="Username" class="form-control" id="login_username_input"
                                       type="text"></li>
                                <li><label for="login_password_input">Password:</label>
                                <input placeholder="Password" class="form-control" id="login_password_input"
                                       type="password"></li>
                                <li><button class="btn btn-default center-block" type="button"
                                            id="login">Login</button></li>
                            </ul>
                        </div></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="row" id="pagebody">
        <div class="container-fluid">
            <div class="col-md-2" id="div2">
                <h1 id="filterheader">Type</h1>
                <form id="equipmentfilter">
                    <label><input type="radio" name="equipmenttype" value="AL" checked="checked">All</label><br>
                    <label><input type="radio" name="equipmenttype" value="AC">Air Compressor</label><br>
                    <label><input type="radio" name="equipmenttype" value="BL">Backhoe Loader</label><br>
                    <label><input type="radio" name="equipmenttype" value="BR">Breaker</label><br>
                    <label><input type="radio" name="equipmenttype" value="BD">Bulldozer</label><br>
                    <label><input type="radio" name="equipmenttype" value="CR">Crane</label><br>
                    <label><input type="radio" name="equipmenttype" value="DT">Dump Truck</label><br>
                    <label><input type="radio" name="equipmenttype" value="EX">Excavator</label><br>
                    <label><input type="radio" name="equipmenttype" value="FT">Flatbed Trucks</label><br>
                    <label><input type="radio" name="equipmenttype" value="FL">Forklifts</label><br>
                    <label><input type="radio" name="equipmenttype" value="GS">Generating Sets</label><br>
                    <label><input type="radio" name="equipmenttype" value="LB">Low Bed Trailer</label><br>
                    <label><input type="radio" name="equipmenttype" value="MT">Manlift Trucks</label><br>
                    <label><input type="radio" name="equipmenttype" value="MC">Motorcycles</label><br>
                    <label><input type="radio" name="equipmenttype" value="PL">Payloader</label><br>
                    <label><input type="radio" name="equipmenttype" value="PM">Prime Mover</label><br>
                    <label><input type="radio" name="equipmenttype" value="RG">Road Grader</label><br>
                    <label><input type="radio" name="equipmenttype" value="RR">Road Roller</label><br>
                    <label><input type="radio" name="equipmenttype" value="SL">Skidsteer Loader</label><br>
                    <label><input type="radio" name="equipmenttype" value="OT">Other</label>
                </form>
                {% if request.user.is_superuser %}
                    <button type="button" id="addEquipment">Add Equipment</button>
                {% endif %}
            </div>

            <div class="col-md-10" id="div3">
                {% for unit in equipment %}
                    <div class="col-md-3">
                        <div class="panel panel-primary" id="equipment{{ unit.id }}">
                            <div class="panel-heading">{{ unit.name }}</div>
                            <div class="panel-body">
                                <div class="thumbnail">
                                    <img src="{% static unit.image.url %}" class="img-responsive"
                                 style="width:100%" alt="Image"></div>
                                </div>
                            <div class="panel-footer text-center"><button type="button" data-toggle="modal"
                                                                          data-target="#modal{{ unit.id }}"
                                                                          class="btn btn-default">View Details
                                <span class="glyphicon glyphicon-search">
                            </span></button></div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div id="modal{{ unit.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{ unit.name }}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img class="img-responsive" alt="image" src="{% static unit.image.url %}"
                                                 style="width: 200%">
                                        </div>
                                        <div class="col-md-4" id="right-modal">
                                            <p id="info"><strong>Brand: </strong>{{ unit.brand }}</p>
                                            <p id="info"><strong>Type: </strong>{{ unit.get_type_display }}</p>
                                            <p id="info"><strong>Details: </strong>{{ unit.details }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default">Add to Cart</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>

    </div>
</body>

<script>
    $(document).ready(function () {
        $("#cart").click(function () {
            $.ajax({
                type: "POST",
                url: "../rental/getcart/",
                success: function (data) {
                    if(data === "0")
                    {
                        var cart = $("#cartDropdown");
                        cart.empty();
                        cart.append('<h2 class="text-center">Your cart is empty!</h2>');
                    }
                }
            });
        });

		$("input[type='radio']").on('change', function() {
			var selected = $("[name='equipmenttype']:checked").val();

			$.ajax
			(
				{
					type: 'POST',
					url: 'filterequipment/' + selected + '/',
					data:{
						selected: selected
					},
					success:[ function(data)
					{
						if(data.length === 0)
						{
							$("#div3").empty();
							$("#div3").append('<h1 style="right:35%; top:50%; position:fixed;">No results</h1>');
						}
						else
						{
							$("#div3").empty();
							for(var i = 0; i < data.length; i++ )
							{
								var datum = data[i];
								var MEDIA_URL = "/static/media/" + datum.fields.image;

								$('#div3').append('<div class="col-md-3">\
                                    <div class="panel panel-primary" id="equipment' + JSON.stringify(datum.pk)+ '">\
                                        <div class="panel-heading">' + datum.fields.name +'</div>\
                                        <div class="panel-body">\
                                            <div class="thumbnail">\
                                                <img src="' + MEDIA_URL + '" class="img-responsive"\
                                             style="width:100%" alt="Image"></div>\
                                            </div>\
                                        <div class="panel-footer text-center"><button type="button"  data-toggle="modal"\
                                                                          data-target="#modal' + JSON.stringify(datum.pk)+ '"\
                                                                                      class="btn btn-default">View Details\
                                            <span class="glyphicon glyphicon-search">\
                                        </span></button></div>\
                                    </div>\
                                </div>\
                                \
                                <!-- Modal -->\
                                <div id="modal' + JSON.stringify(datum.pk)+ '" class="modal fade" role="dialog">\
                                    <div class="modal-dialog">\
                                        <!-- Modal content-->\
                                        <div class="modal-content">\
                                            <div class="modal-header">\
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>\
                                                <h4 class="modal-title">' + datum.fields.name +'</h4>\
                                            </div>\
                                            <div class="modal-body">\
                                                <div class="row">\
                                                    <div class="col-md-8">\
                                                        <img class="img-responsive" alt="image" src="'+ MEDIA_URL +'"\
                                                             style="width: 200%">\
                                                    </div>\
                                                    <div class="col-md-4" id="right-modal">\
                                                        <p id="info"><strong>Brand: </strong>' + datum.fields.brand +'</p>\
                                                        <p id="info"><strong>Type: </strong>' + datum.fields.type +'</p>\
                                                        <p id="info"><strong>Details: </strong>' + datum.fields.details +'</p>\
                                                    </div>\
                                                </div>\
                                            </div>\
                                            <div class="modal-footer">\
                                                <button type="button" class="btn btn-default">Add to Cart</button>\
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </div>');
							}
						}
					}]
				}
			);
        });
    });
</script>

</html>