<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load templatetags %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Bormaheco Inc. | Checkout</title>
    <!-- Imports JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Global Login -->
    <script src="{% static 'js/login.js' %}"></script>

    <link rel="icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img style="height: 250%" src="{% static 'images/bormaheco.png' %}">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'mainpage' %}" id="navlink">Home</a></li>
                <li><a href="{% url 'equipment:mainpage' %}" id="navlink">Equipment</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="#" id="navlink">Transactions</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="dropdown">
                            <a id="cart" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <ul class="dropdown-menu cart" id="cartDropdown">
                                {% get_cart request %}
                            </ul>
                        </div>
                    </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="userbutton" type="button" data-toggle="dropdown">
                                {{ request.user.username }}
                                <span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if request.user.is_superuser %}
                                    <li><a href="{% url 'admin:index' %}">Admin Page</a></li>
                                {% endif %}
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div></li>
                {% else %}
                    <li>
                        <div class="dropdown" id="logindiv">
                            <a class="dropdown-toggle" id="userbutton" type="button" data-toggle="dropdown">
                                Login
                                <span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><label for="login_username_input">Username:</label>
                                <input placeholder="Username" class="form-control" id="login_username_input"
                                       type="text"></li>
                                <li><label for="login_password_input">Password:</label>
                                <input placeholder="Password" class="form-control" id="login_password_input"
                                       type="password"></li>
                                <li><button class="btn btn-default center-block" type="button"
                                            id="login">Login</button></li>
                            </ul>
                        </div></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="row" id="mainpagebody">

    </div>
</body>
</html>