<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load templatetags %}
    {% load humanize %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <title>Bormaheco Inc. | Transactions</title>
    <!-- Imports JQuery -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Global Login -->
    <script type="text/javascript">
        var loginurl = {% url 'login' %};
        var createquotation = '{% url "rental:create_quotation" %}';
    </script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/transactions.js' %}"></script>
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
</head>
<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img style="height: 250%" src="{% static 'images/bormaheco.png' %}">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'mainpage' %}" id="navlink">Home</a></li>
                <li><a href="{% url 'equipment:mainpage' %}" id="navlink">Equipment</a></li>
                {% if request.user.is_authenticated %}
                    {% if request.user.user_type == CU or request.user.user_type == FI or request.user.user_type == EM %}
                        <li><a href="{% url 'rental:transactions' %}" id="navlink">Transactions</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_superuser == False %}
                   {% if request.user.useraccount.user_type == 'CU' or request.user.useraccount.user_type == Null %}
                    <li>
                        <div class="dropdown">
                            <a id="cart" type="button" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-shopping-cart"></span></a>
                            <ul class="dropdown-menu cart" id="cartDropdown">
                                {% get_cart request %}
                                {% cart_length request as num %}
                                {% if num > 0 %}
                                    <a type="button" style="display:block; margin-top: 10px; margin-bottom: 5px"
                                 href="{% url 'rental:checkout' %}" class="btn btn-warning text-center">Checkout</a>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="userbutton" type="button" data-toggle="dropdown">
                                {{ request.user.username }}
                                <span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul id="usertools" class="dropdown-menu">
                                {% if request.user.is_superuser %}
                                    <li><a href="{% url 'admin:index' %}">Admin Page</a></li>
                                {% endif %}
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div></li>
                {% else %}
                    <li>
                        <div class="dropdown" id="logindiv">
                            <a class="dropdown-toggle" id="userbutton" type="button" data-toggle="dropdown">
                                Login
                                <span id="arrow" class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul id="usertools" class="dropdown-menu">
                                <li><label for="login_username_input">Username:</label>
                                <input placeholder="Username" class="form-control" id="login_username_input"
                                       type="text"></li>
                                <li><label for="login_password_input">Password:</label>
                                <input placeholder="Password" class="form-control" id="login_password_input"
                                       type="password"></li>
                                <li><button class="btn btn-default center-block" type="button"
                                            id="login">Login</button></li>
                            </ul>
                        </div></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container-fluid row" id="mainpagebody">
        <span class="col-md-1"></span>
        <div class="col-md-4" id="listofitems">
            <ul class="nav nav-tabs">
                <li class="{% if transaction_type == 'AL' %}
                active {% elif transaction_type == null %} active
                {% endif %}"><a href="{% url 'rental:filtered_transactions' transaction_type='AL' %}">All</a></li>
                <li class="{% if transaction_type == 'IN' %}
                active{% endif %}"><a href="{% url 'rental:filtered_transactions' transaction_type="IN" %}">Inquiries</a></li>
                <li class="{% if transaction_type == 'QU' %}
                active{% endif %}"><a href="{% url 'rental:filtered_transactions' transaction_type="QU" %}">Quotations</a></li>
            </ul>
            <div class="list-group">
                {% for item in transactions %}
                    {% if item|to_class_name == 'Inquiry' %}
                        <a href="{% url 'rental:getitem' transaction_type=transaction_type report="IN" pk=item.id %}"
                           class="list-group-item {% if item.id == index and details|to_class_name == 'Inquiry' %}
                           active{% endif %}"><strong>Inquiry: </strong>{{ item.sent_on }}
                            {% if request.user.useraccount.user_type == "EM" %}
                             - {{ item.customer.username }}
                           {% endif %}
                            {% if item.status == 'AQ' %}
                                <span class="glyphicon glyphicon-hourglass pull-right" title="Awaiting Quotation"></span>
                            {% elif item.status == 'AR'%}
                                <span class="glyphicon glyphicon-euro pull-right" title="Awaiting Confirmation"></span>
                            {% elif item.status == 'CO'%}
                                <span class="glyphicon glyphicon-ok-sign pull-right" title="Confirmed!"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove-sign pull-right" title="Rejected"></span>
                            {% endif %}
                        </a>
                    {% else %}
                        <a href="{% url 'rental:getitem' transaction_type=transaction_type report='QU' pk=item.id %}"
                           class="list-group-item {% if item.id == index and details|to_class_name == 'Quotation' %}active{% endif %}"><strong>Quotation: </strong>{{ item.sent_on}}
                            {% if request.user.useraccount.user_type == "EM" %}
                             - {{ item.inquiry.customer.username }}
                           {% endif %}
                            {% if item.status == 'AW' %}
                                <span class="glyphicon glyphicon-euro pull-right" title="Awaiting Confirmation"></span>
                            {% elif item.status == 'PA'%}
                                <span class="glyphicon glyphicon-ok-sign pull-right" title="Confirmed!"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove-sign pull-right" title="Rejected"></span>
                            {% endif %}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6" id="infofield">
            {% if details == null %}
                <h1 class="text-center" style="margin-top: 35%">Choose an inquiry or quotation!</h1>
            {% elif details|to_class_name == 'Quotation' %}
                <h1 class="text-center">Quotation</h1>
                <div class="container-fluid">
                    <table class="table" style="font-size: 1em">
                        <tr>
                            <td class="col-md-4" id="left"><strong>Created by: </strong></td>
                            <td>{{ details.created_by.username }}</td>
                        </tr>
                        <tr>
                            <td><strong>Reference inquiry: </strong></td>
                            <td><a href="{% url 'rental:getitem' transaction_type="IN" report="IN" pk=details.inquiry.id %}">
                                {{ details.inquiry.id }}
                            </a></td>
                        </tr>
                        <tr>
                            <td><strong>Status: </strong></td>
                            <td>{{ details.get_status_display }}/{% if details.paid == True %}Paid{% else %}Unpaid{% endif %}</td>
                        </tr>
                        <tr>
                            <td><strong>Sent on: </strong></td>
                            <td>{{ details.sent_on }}</td>
                        </tr>
                        <tr>
                            <td><strong>Cost:</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Rental per hour:</strong></td>
                            <td class="text-right">P{{ details.gettotalrental }}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Transportation:</strong></td>
                            <td class="text-right">P{{ details.transportation_cost|intcomma }}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Total:</strong></td>
                            <td class="text-right">P{{ details.getprice|intcomma }}</td>
                        </tr>
                        <tr>
                            <td><strong>Comments:</strong></td>
                            <td>{{ details.comments }}</td>
                        </tr>
                    </table>
                    <h4 style="margin-top: -15px">Equipment:</h4>
                    <div id="equipmentwell">
                        {% for unit in details.getallequipment %}
                            <div class="well">{{ unit.equipment.name }}</div>
                        {% endfor %}
                    </div>
                    {% if request.user.useraccount.user_type == "CU" %}
                        {% if details.paid == True and details.status == "AW" %}
                            <a id="confirmbutton" class="btn btn-warning disabled center-block"
                            title="You have already confirmed payment">Confirm Payment</a>
                        {% elif details.paid == False and details.status == "AW" %}
                            <a id="confirmbutton" class="btn btn-warning center-block"
                            href="{% url 'rental:confirmpayment' pk=details.id %}">Confirm Payment</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% elif details|to_class_name == 'Inquiry' %}
                <h1 class="text-center">Inquiry</h1>
                <div class="container-fluid">
                    <p hidden id="detailsid">{{ index }}</p>
                    <table class="table" style="font-size: 1em">
                        <tr>
                            <td class="col-md-4" id="leftinq"><strong>Created by: </strong></td>
                            <td>{{ details.customer.username }}</td>
                        </tr>
                        <tr>
                            <td><strong>Reference quotation: </strong></td>
                            <td>{% if details.related_quotation %}
                                <a href="{% url 'rental:getitem' transaction_type="QU" report="QU" pk=details.related_quotation.id %}">
                                {{ details.related_quotation.id }}
                            </a>
                                {% else %}
                                N/A
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td><strong>Status: </strong></td>
                            <td>{{ details.get_status_display }}</td>
                        </tr>
                        <tr>
                            <td><strong>Service Details: </strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Start date: </strong></td>
                            <td>{{ details.start_date }}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>End Date:</strong></td>
                            <td>{{ details.end_date }}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Location: </strong></td>
                            <td >{{ details.location }}</td>
                        </tr>
                        <tr>
                            <td class="text-right"><strong>Comments:</strong></td>
                            {% if details.comments == "" %}
                                <td>None</td>
                            {% else %}
                                <td>{{ details.comments }}</td>
                            {% endif %}
                        </tr>
                    </table>
                    <h4 style="margin-top: -15px">Equipment:</h4>
                    <div id="equipmentwell">
                        {% for unit in details.getallequipment %}
                            <div class="well"{% if unit.equipment|checkconflict:index == True and request.user.useraccount.user_type == "EM" %}
                            style="background-color: #ff747f; color: red; border-color: red;"
                            {% endif %}>{{ unit.equipment.name }}</div>
                        {% endfor %}
                    </div>
                    {% if request.user.useraccount.user_type == "EM" %}
                        {% if details.status == "AQ" %}
                            <a id="confirmbutton" class="btn btn-warning center-block" data-toggle="modal"
                            data-target="#confirmmodal{{ index }}">Create Quotation</a>

                            <!-- Modal -->
                            <div id="confirmmodal{{ index }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title text-center">Create Quotation for Inquiry</h4>
                                        </div>
                                        <div class="modal-body container-fluid">
                                            {% if details.has_conflict %}
                                                <div class="alert alert-danger">
                                                    This inquiry has equipment that is either under maintenance or is in engagement
                                                </div>
                                            {% endif %}
                                            <div class="form-group" id="cost_group">
                                                <label class="control-label" for="cost">Transportation Cost:</label>
                                                <input class="form-control number" id="cost" placeholder="Transportation Cost">
                                                <p class="text-danger" id="cost_error" hidden></p>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="remarks">Comments:</label>
                                                <textarea class="form-control" id="remarks" placeholder="Input any extra remarks..."></textarea>
                                            </div>

                                            <label>Equipment:</label>
                                            <div class="form-group" id="checkbox">
                                                {% for unit in details.getallequipment %}
                                                    <div class="checkbox">
                                                        <label><input class="check" id="eq{{ forloop.counter0 }}" type="checkbox"
                                                                      value="{{ unit.equipment.id }}"
                                                                {% if unit.equipment|checkconflict:index == True %}
                                                                disabled
                                                                {% else %}
                                                                checked
                                                                {% endif %}>{{ unit.equipment.name }}</label>
                                                        {% if unit.equipment|checkconflict:index == True %}
                                                            <div class="form-group">
                                                                <label for="replace{{ forloop.counter0 }}">Replace with:</label>
                                                                <select class="form-control" id="replace{{ forloop.counter0 }}">
                                                                    <option value="x">None</option>
                                                                    {% for a in equipment %}
                                                                        {% if a|checkconflict:index == False %}
                                                                            {% if a.type == unit.equipment.type %}
                                                                                <option value="{{ a.id }}">{{ a.name }}</option>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-warning" id="sendquotation">Send Quotation</button>
                                            <a href="{% url 'rental:rejectinquiry' pk=index %}" type="button" class="btn btn-danger">Reject Inquiry</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</body>
<script type="text/javascript">
    $(".number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl/cmd+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: Ctrl/cmd+C
            (e.keyCode === 67 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: Ctrl/cmd+X
            (e.keyCode === 88 && (e.ctrlKey === true || e.metaKey === true)) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>
</html>